<div class='row'>
  <div class='col-md-12 text-center'>
    <%= form_for @recipe do |f| %>
    <%= f.label :ingredients %>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :ingredient_name, checked: @recipe.try(:ingredient_ids) %><br>
    <%= f.submit %>
    <% end %>
  </div>
</div>
