<div class="row">
  <div class='col-md-12 text-center'>
    <h1 id="header"></h1>
    <button type="button" class="btn btn-primary" id="link"></button>
  </div>
</div>
<div class="row">
  <div class='col-md-12 text-center'>
    <div id="list"></div>
  </div>
</div>

<% content_for :ingredients do %>
  <script>
    $(function(){
      indexer();
    })

    function indexer(){
      $("#header").html("Ingredients Pantry");
      $("#link").html('<%= link_to "Add New Ingredient", new_ingredient_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>')
      $.ajax({
        url: '/ingredients',
        method: 'GET',
        dataType: 'JSON',
        success: handleResponse
      })
    };

    function handleResponse(response) {
      createLinks(response)
    }

    function createLinks(array){
      var linkString = "";
      for (var i=0; i < array.length; i++){
        linkString += "<a href='/ingredients/" + array[i].id + "'>" + array[i].ingredient_name + "</a>" + "<br>"
      }
      $("#list").html(linkString)
    }

  </script>
<% end %>
